.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit; //we need it manul  here and mk it inherited
    color: inherit;
    padding: 1.5rem 2rem; // add more padding in sides cuz it mk button and forms more cool
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent; // to prevent the moving of the box when we click on it cuz we added border bottom
    width: 90%;
    display: block;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      //to prevent the blue border from appearing when we type in input
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1); //for accesiblity
      border-bottom: 3px solid $color-primary; //for accesiblity
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark; // mk more accessible by using the validation of the browser
    }

    &::-webkit-input-placeholder {
      /// to style the placeholder
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  // + direct sibling selector which select the direct sibling element and the selected sibling should be after the element
  // ~ general sibling selector which select any sibling element
  &__input:placeholder-shown + &__label {
    // when placeholder of input is show we will form the label
    opacity: 0; // invisible but stay on the page
    // we can't use visbility alone cuz we can't animate the visiblility
    visibility: hidden; // invisivle and not stay on the page
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none; //to hide the input
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  //select radio input when it checked then select the label and select it's child radio-button which have after psudoelement
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
